div.container {
	border-style: solid;
	border-width: medium;
	height: 500px;
	width: 600px;
}

div.phrase {
	border-style: outset;
}

label.info {
	font-style: italic;
	font-weight: lighter;
	color: blue;
}